<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        
        <ion-title text-center>Connectors</ion-title>
        
        <ion-buttons end>
            <button ion-button icon-only clear (click)="search()">
                <ion-icon ios="ios-search" md="md-search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content  style=" padding:0; margin:0;" >
 


<ion-list >
 <ion-item *ngFor="let item of tasks" (click)="openConnect(item.name,item.id)">
    <ion-icon name="ios-list-outline" item-start></ion-icon>
     <p>{{ item.name }}</p>
  </ion-item>
  <!--ion-item *ngFor="let item of tasks" icon-right (click)="openConnect(item.name,item.id)">
  	
  </ion-item-->  
</ion-list>
</ion-content>
